<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base :: head(title=profile)}">profile</head>

<body>
    <!-- Navbar -->
    <nav th:replace="~{fragments/base :: navbar}"></nav>

    <div class="container">
        <div class="row flex-md-row flex-sm-column">
            <!-- Card del presidente -->
            <div class="col-md-4 mb-4">
                <!-- Card del presidente -->
                <div class="card mx-auto" style="max-width: 18rem;">
                    <!-- Immagine del presidente -->
                    <img th:if="${president.pathImg != null}" th:src="@{'/images/profile/' + ${president.pathImg}}"
                        class="card-img-top" alt="...">
                    <!-- Immagine di default se l'immagine del presidente non è disponibile -->
                    <img th:unless="${president.pathImg != null}" src="/images/preset/profile.jpg" class="card-img-top"
                        alt="...">

                    <div class="card-body">
                        <!-- Nome e cognome del presidente -->
                        <h5 class="card-title" th:text="${president.nome} + ' ' + ${president.cognome}">Card title</h5>
                    </div>

                    <!-- Dettagli del presidente -->
                    <ul class="list-group list-group-flush">
                        <!-- Luogo di nascita del presidente -->
                        <li class="list-group-item"> Nato a:
                            <p th:text="'Regione: ' + ${president.site.country}"> Regione </p>
                            <p th:text="'Città: ' + ${president.site.City}"> città </p>
                            <p th:text="'Cap: ' + ${president.site.cap}"> cap </p>
                        </li>

                        <!-- Data di nascita del presidente -->
                        <li class="list-group-item" th:text="'Nato il: ' + ${president.dateOfBirth}"> data di nascita
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Card del Team -->
            <div class="col-md-4 mb-4" th:if="${president.team != null}">
                <!-- Titolo della sezione -->
                <h2>Team</h2>
                <!-- Card del Team -->
                <div class="card mx-auto" style="max-width: 18rem;">
                    <!-- Immagine del Team -->
                    <img th:if="${president.team.pathImg != null}"
                        th:src="@{'/images/team/' + ${president.team.pathImg}}" class="card-img-top" alt="...">
                    <!-- Immagine di default se l'immagine del Team non è disponibile -->
                    <img th:unless="${president.team.pathImg != null}" src="/images/preset/team.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- Nome del Team -->
                        <h5 class="card-title" th:text="'Team: ' + ${president.team.name}">Card title</h5>
                    </div>

                    <!-- Dettagli del Team -->
                    <ul class="list-group list-group-flush">
                        <!-- Sede del Team -->
                        <li class="list-group-item"> Situata in :
                            <p th:text="'Regione: ' + ${president.team.site.country}"> Regione </p>
                            <p th:text="'Città: ' + ${president.team.site.City}"> città </p>
                            <p th:text="'Cap: ' + ${president.team.site.cap}"> cap </p>
                        </li>

                        <!-- Data di creazione del Team -->
                        <li class="list-group-item" th:text="'Fondata il : ' + ${president.team.dateOfCreation}"> data
                            di nascita
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sezione degli Atleti -->
            <div class="col-md-4 mb-4" th:if="${president.team != null}">
                <!-- Titolo della sezione -->
                <h4>Atleti</h4>
                <!-- Pulsante per modificare gli atleti del Team -->
                <div class="d-flex justify-content-between">
                    <a type="button" class="btn btn-outline-primary me-2"
                        th:href="@{'/team/editAthletes/' + ${president.team.id}}">Edit Athletes Team</a>
                </div>
                <!-- Lista degli Atleti del Team -->
                <ol class="list-group list-group-numbered" th:each="athlete : ${president.team.athletes}">
                    <li class="list-group-item">
                        <!-- Nome e Cognome dell'Atleta -->
                        <span th:text="${athlete.name} +' '+${athlete.surname}">Nome e cognome atleta</span>
                        <!-- Link al profilo dell'Atleta -->
                        <a type="button" class="btn btn-outline-primary me-2"
                            th:href="@{'/athlete/' + ${athlete.id}}">Profilo Atleta</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{fragments/base :: footer}"></footer>

</body>

</html>
