<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head(title=Homepage)}">Hompage</head>

<body>
	<nav th:replace="~{fragments/base :: navbar}"></nav>

	<div class="card mx-auto" style="width: 18rem;">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title" th:text="${athlete.name} + ' ' + ${athlete.surname}">Card title</h5>
			<div th:if="${athlete.team == null}">
				<p class="card-text">Nessun contratto</p>
			</div>
			<div th:unless="${athlete.team == null}">
				<p class="card-text" th:text=" 'Team: ' + ${athlete.team}">Specialità</p>
			</div>
		</div>
		
		
		<ul class="list-group list-group-flush">
			<li class="list-group-item"> Nato a:
				<p th:text="'Regione: ' + ${athlete.site.country}"> Regione </p>
				<p th:text="'Città: ' + ${athlete.site.City}"> città </p>
				<p th:text="'Cap: ' + ${athlete.site.cap}"> cap </p>
			</li>
			
			<li class="list-group-item" th:text="'Nato il: ' + ${athlete.dateOfBirth}"> data di nascita</li>
			<div th:if="${athlete.team != null}">
				<li class="list-group-item">
					<p th:text="'Data inizio contratto: ' + ${athlete.startOfMembership}"> inizio contratto </p>
					<p th:text="'Data fine contratto: ' + ${athlete.endOfMembership}"> inizio contratto </p>
				</li>
			</div>
			
			<!--solo per admin-->
			<div sec:authorize="hasAuthority('ADMIN')">
  				<li class="list-group-item"><a th:href="@{'/athlete/edit/' + ${athlete.id}}" class="card-link">Edit athlete</a></li>
  				<li class="list-group-item"><a th:href="@{'/athlete/delete/' + ${athlete.id}}" class="card-link">Delete athlete</a></li>
			</div>
		</ul>
	</div>
 
 
 
 
	<footer th:replace="~{fragments/base :: footer}"><footer>
</body>
</html>